<!DOCTYPE html>

<html>
  <head>
    <title>Luarzito Dashboard</title>
    <!--CONFIGs INI-->
    <script src="/js/src/headConfig.js"></script>
    <!--CONFIGs FIM-->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <!--CSS FIM-->
    <!--SCRIPT INI-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <!--NAV BAR INI-->
    <div class="nav_bar">
      <div
        class="header d-flex flex-column justify-content-between align-items-center"
      >
        <nav class="topmenu d-flex justify-content-center">
          <a href="#sobre" class="botao_nav">Sobre</a>
          <div class="linha_nav"></div>
          <a href="/comandos" class="botao_nav">Comandos</a>
          <div class="linha_nav"></div>
          <div class="line align-self-center"></div>
          <a href="/team" class="botao_nav">Team</a>
          <div class="linha_nav"></div>
          <a href="/emojis" class="botao_nav">Emojis</a>
          <div class="linha_nav"></div>
          <a href="#regras" class="botao_nav">Regras</a>
          <div class="linha_nav"></div>
          <a href="#servidor_dc" class="botao_nav">Entrar</a>
        </nav>
        <div
          class="server-info d-flex align-items-center flex-column text-center"
        >
          <div class="nome_bot">
            <b class="bot_name">Luarzito</b>
            <p class="lite_desc">Dashboard</p>
          </div>
          <div class="botao_add">
            <a
              id="me_add"
              class="links-suppressor join-btn btn-pill white"
              href="https://discord.com/api/oauth2/authorize?client_id=743841329334845530&redirect_uri=https%3A%2F%2Fluarzito.glitch.me%2Fdashboard&response_type=code&scope=identify%20guilds"
        >Login</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--NAV BAR FIM-->
 
</html>



<!--

 <body>
    <div id="header-login">
      <p id="perfil-nome"></p>
      <img src="aaaa" id="perfil-foto" />
    </div>
    <div id="login">
      <a
        id="login-btn"
      >
        LOGIN</a
      >
    </div>
    <div id="display_result"></div>
    <script src="js/dashboard.js"></script>
  </body>

-->