<!DOCTYPE html>

<html>
  <head>
    <title>Luarzito Dashboard</title>
    <!--CONFIGs INI-->
    <script src="/js/src/headConfig.js"></script>
    <!--CONFIGs FIM-->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="header-login" style="display: none;">
      <p>
        header login
      </p>
      <img src="aa">
    </div>
    <div id="login">
      <p>
        div login
      </p>
    </div>
    <div id="display_result"></div>

    <a
      href="https://discord.com/api/oauth2/authorize?client_id=743841329334845530&redirect_uri=https%3A%2F%2Fluarzito.glitch.me%2Fdashboard&response_type=code&scope=identify%20guilds"
      id="login-btn"
    >
      Login</a
    >
    <script src="js/dashboard.js"></script>
  </body>
</html>
