<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="https://cdn.discordapp.com/icons/742068003583295619/69f5a6123e68838d4e4d965aa293fb9b.png?size=1024"
      type="image/gif"
      sizes="16x16"
    />
    <meta charset="UTF-8" />
    <title>Luarzito</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <section id="uptime"></section>
    <div class="container d-flex flex-column">
      <div
        class="header d-flex flex-column justify-content-between align-items-center"
      >
        <nav class="topmenu d-flex justify-content-center">
          <div class="line align-self-center"></div>
          <a href="/index.html">Voltar</a>
          <div class="line align-self-center"></div>
        </nav>
        <div
          class="server-info d-flex align-items-center flex-column text-center"
        >
          <div class="media">
            <div class="media-body">
              <h1 class="header-title">
                <small>
                  <b>Emojis</b>
                </small>
              </h1>
            </div>
          </div>

          <h1></h1>
          <a
            class="links-suppressor join-btn btn-pill white"
            href="https://discord.com/oauth2/authorize?client_id=743841329334845530&scope=bot&permissions=8"
            >Me adicione!</a
          >
        </div>
      </div>

      <div id="iframe-overlay"></div>
      <div class="inner d-flex flex-column">
        <section
          class="d-flex justify-content-between flex-lg-nowrap flex-wrap"
          id="about"
        >
          <div class="image image1" style="flex-grow: 1;"></div>
          <div class="text">
            <ul>
              <section id="emojis">
                <p></p>
                <b
                  ><img
                    src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2F674344399064399895.gif?v=1598719433958"
                    width="20"
                    weight="20"/>Comando dos emojis:<img
                    src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2F674344399064399895.gif?v=1598719433958"
                    width="20"
                    weight="20"
                /></b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Floli_brava.gif?v=1598644317727"
                  width="50"
                  weight="50"
                />
                <b>id = loli_brava</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Femojipng.com-68553.png?v=1598640882202"
                  width="50"
                  weight="50"
                />
                <b>id = hehe</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2FPngJoy_monkas-pepegamer-pepe-emoji-discord-transparent-png_106986.png?v=1598644328573"
                  width="50"
                  weight="50"
                />
                <b>id = sapo</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fmoeba.gif?v=1598644331437"
                  width="50"
                  weight="50"
                />
                <b>id = moeba</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2F371e683f-fa62-4330-9d0d-15f0507b08c1.png?v=1598644335926"
                  width="50"
                  weight="50"
                />
                <b>id = pikachu</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fd85ba34e563b57ed49a0e258839137df.png?v=1598644336280"
                  width="50"
                  weight="50"
                />
                <b>id = ue</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fb50e32624ab513812d97d6dea7b478ec_5872006441185134428.gif?v=1598644374535"
                  width="50"
                  weight="50"
                />
                <b>id = piscada</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fkindpng_6809432.png?v=1598644485993"
                  width="50"
                  weight="50"
                />
                <b>id = hihi</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2FYareyare.png?v=1598716272141"
                  width="50"
                  weight="50"
                />
                <b>id = yare</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fgenius.png?v=1598716488088"
                  width="50"
                  weight="50"
                />
                <b>id = genius</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2F4778_kobe_surprised.png?v=1598719431324"
                  width="50"
                  weight="50"
                />
                <b>id = ohh</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2F674344399064399895.gif?v=1598719433958"
                  width="50"
                  weight="50"
                />
                <b>id = dancing_loli</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fafo.png?v=1598719448493"
                  width="50"
                  weight="50"
                />
                <b>id = uiui</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fiagnuign.png?v=1598719452029"
                  width="50"
                  weight="50"
                />
                <b>id = esperto</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fkniqgn.png?v=1598719456737"
                  width="50"
                  weight="50"
                />
                <b>id = si</b>
                <p></p>
                <img
                  src="https://cdn.glitch.com/09f156c9-3789-498a-a799-b09fb11abc28%2Fgatin.gif?v=1599141335812"
                  width="50"
                  weight="50"
                />
                <b>id = gatin</b>

                <p></p>
              </section>
            </ul>
          </div>
        </section>

        <section
          class="d-flex justify-content-between flex-lg-nowrap flex-wrap flex-row-reverse"
          id="rules"
        >
          <div class="text1"></div>
        </section>
        <section class="join d-flex justify-content-center">
          <div class="line align-self-center" style="flex-grow: 1;"></div>
          <a
            class="links-suppressor btn-pill white"
            href="https://discord.com/oauth2/authorize?client_id=743841329334845530&scope=bot&permissions=8"
            >Adicionar</a
          >
          <div class="line align-self-center" style="flex-grow: 1;"></div>
        </section>
      </div>
    </div>
  </body>
</html>
