<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Servidores</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--CONFIGs INI-->
    <script src="/js/src/headConfig.js"></script>
    <!--CONFIGs FIM-->
    <!-- Style -->
    <link rel="stylesheet" href="/css/serversstyle.css" />
    <!-- Scripte -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="overthrow">
      <div class="container">
        <div class="box">
          <div class="icon">
            <img
              src="https://cdn.glitch.com/84e8ff60-4fbe-4732-b7f0-54d89c3f420c%2FDiscord%20Icon.png?v=1586363810602"
            />
          </div>
          <div class="content">
            <h3>Cobaias do Luarzito</h3>
            <p>
              Junte-se ao nosso servidor, encontre pessoas legais e novas amizades!
            </p>
            <a class="link" href="https://discord.gg/TwjVH4Z" target="_blank"
              >Entrar</a
            >
          </div>
        </div>

        <div class="container">
          <div class="box">
            <div class="icon">
              <img
                src="https://cdn.glitch.com/84e8ff60-4fbe-4732-b7f0-54d89c3f420c%2Fausruestung(1).png?v=1586370171178"
              />
            </div>
            <div class="content">
              <h3>Server Infos ...</h3>
              <p>
                Hier findest du alle nötigen Informationen zum Server.
                Vielleicht auch ein paar geheime Informationen.
              </p>
              <a class="link" href="info.html">Read More</a>
            </div>
          </div>
          <div class="box">
            <div class="icon">
              <img
                src="https://cdn.glitch.com/84e8ff60-4fbe-4732-b7f0-54d89c3f420c%2FIcon.png?v=1586370009614"
              />
            </div>
            <div class="content">
              <h3>Visit us ...</h3>
              <p>
                Per Klick auf 'Read Me', kommst du direkt auf unseren Server.<br />Check
                it out!
              </p>
              <a class="link" href="https://discord.gg/fYamnxe" target="_blank"
                >Read More</a
              >
            </div>
          </div>
          <div class="box">
            <div class="icon">
              <img
                src="https://cdn.glitch.com/84e8ff60-4fbe-4732-b7f0-54d89c3f420c%2Fmenschen.png?v=1586370232056"
              />
            </div>
            <div class="content">
              <h3>Server Team ...</h3>
              <p>
                Das Server Team Stellt sich vor, damit du gleich informiert bis,
                an wen du dich wenden musst.
              </p>
              <a class="link" href="team.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
