<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Luarzito - SCT Team</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--CONFIGs INI-->
    <script src="/js/src/headConfig.js"></script>
    <!--CONFIGs FIM-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <!-- Style -->
    <link rel="stylesheet" href="/css/teamstyle.css" />
    <!-- Scripte
    <script src="/script.js" defer></script>
    -->

  </head>
  <body>
  
    <div
      class="header d-flex flex-column justify-content-between align-items-center"
    >
      <nav class="topmenu d-flex justify-content-center"></nav>
      <div class="container">
          
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script> 
        <script src="/js/team.js"></script>
        
      </div>
    </div>
  </body>
</html>
