<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Server Team</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      id="favicon"
      rel="icon"
      href="https://images-ext-2.discordapp.net/external/8KUgDxwQQU6V3J6OQMJPAeY3nOGbHcnoJ44W8IkoUGA/%3Fsize%3D1024/https/cdn.discordapp.com/icons/742068003583295619/38b8da7ae2bac109e0cd9521916cf79c.png?width=475&height=475"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <!-- Style -->
    <link rel="stylesheet" href="/css/teamstyle.css">
    <!-- Scripte
    <script src="/script.js" defer></script>
    -->
    <script type="text/javascript" src="discord.stable.min.js"></script>
  </head>
  <body>
  
  <div class="container d-flex flex-column">
      <div
        class="header d-flex flex-column justify-content-between align-items-center"
      >
        <nav class="topmenu d-flex justify-content-center">
          
         
<script src="/js/team.js"></script>

  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="https://cdn.discordapp.com/avatars/701953428510736396/ec3f48a1870024894c42825d8eee0e97.png?size=1024">
      </div>
      <div class="details">
        <div class="content">
          <h2>/Luar ᵈᵃ ᵇⁱᵃʰ ♡
#5811<br><span>CEO | Desenvolvedor</span></h2>
          <ul>
            <li><a href="https://github.com/luarrekcah">
              <img
                src="https://www.iconfinder.com/data/icons/octicons/1024/mark-github-512.png"
                width="25"
                weight="25"
              />
              </a></li>
            
          </ul>
          
        </div>
      </div>
    </div>
    
     <div class="card">
      <div class="imgBx">
        <img src="https://cdn.discordapp.com/avatars/666382842338607134/717e3b944e95a8e20f03989e358a01c5.png?size=1024">
      </div>
      <div class="details">
        <div class="content">
          <h2>Biah ᵈᵒ ʳᵃᵘˡ ♡⃤ 🦋⃤
#1112<br><span>CEO</span></h2>
          <ul>
          </ul>
          
        </div>
      </div>
    </div>
    
  </body>
</html>