#header-login {
  display: none;
  height: fit-content;
  text-align: right;
  padding: 20px;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  /**/
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#login:hover {background-color: #3e8e41}

#login:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#perfil-nome {
  display: inline;
}

#perfil-foto {
  border-radius: 200px;
  width: 80px;
  height: 80px;
  display: none;
}
