<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Luarzito</title>
    <!--CONFIGs INI-->
    <link
      rel="icon"
      href="https://cdn.discordapp.com/icons/742068003583295619/69f5a6123e68838d4e4d965aa293fb9b.png?size=1024"
      type="image/gif"
      sizes="16x16"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="UTF-8"
    />
    <!--CONFIGs FIM-->
    <!--CSS INI-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <link href="/css/m/comandos.css" rel="stylesheet" />
    <!--CSS FIM-->
    <!--SCRIPT INI-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="script" href="/script.js" />
    <!--SCRIPT FIM-->
  </head>

  <body>
    <!--NAV BAR INI-->

    <div class="nav_bar">
      <nav class="topmenu d-flex justify-content-center">
        <a href="https://luarzito.glitch.me/index.html" class="botao_nav"
          >Home</a
        >
        <div class="linha_nav"></div>
        <div class="line align-self-center"></div>
        <a href="/team" class="botao_nav">Team</a>
        <div class="linha_nav"></div>
        <a href="/emojis" class="botao_nav">Emojis</a>
      </nav>
      <div
        class="header d-flex flex-column justify-content-between align-items-center"
      >
        <div
          class="server-info d-flex align-items-center flex-column text-center"
        >
          <div class="nome_bot">
            <b class="bot_name">Luarzito</b>
            <p class="lite_desc">Um bot para o Discord!</p>
          </div>
          <div class="botao_add">
            <a
              id="me_add"
              class="links-suppressor join-btn btn-pill white"
              href="https://discord.com/oauth2/authorize?client_id=743841329334845530&scope=bot&permissions=8"
              >Me adicione!</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--NAV BAR FIM-->
    <div class="corpo">
      <div class="comandos">
        <p>
          Prefíxo atual do bot: <b style="color: white;">lz.</b> | Use
          lz.setprefix para alterar
        </p>
        <p>
          Digite <b style="color: white;">suggest</b> com o prefíxo para enviar
          uma sugestão.
        </p>
        <p>
          Comandos com a cor <b style="color: red;">vermelha</b> estão em
          desenvolvimento ou serão apagados.
        </p>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos para ADM:</h3>
        <script src="/js/src/comandos/admin.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de economia:</h3>
        <p>em breve mais comandos...</p>
        <script src="/js/src/comandos/eco.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de diversão / diversos:</h3>
        <script src="/js/src/comandos/fun.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de Mini-Game:</h3>
        <script src="/js/src/comandos/miniGame.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de Infos/Técnicas:</h3>
        <script src="/js/src/comandos/infos.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de Pesquisas:</h3>
        <script src="/js/src/comandos/pesquisas.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos de RP:</h3>
        <script src="/js/src/comandos/rp.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Comandos sociais:</h3>
        <p>Em desenvolvimento...</p>
        <script src="/js/src/comandos/social.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
        <h3>Diversos:</h3>
        <script src="/js/src/comandos/outros.js"></script>
        <!--LINHA DIVISÓRIA INI-->
        <div class="center">
          <div class="linha_divisoria"></div>
        </div>
        <!--LINHA DIVISÓRIA FIM-->
      </div>
    </div>
  </body>
  <footer>
    <!--
  <div class="lado_esquerdo">
    <h3 class="titulo_lado_e">Redes sociais</h3>
    <a href="insta" class="footer_redes_sociais">IG</a>
    <p></p>
    <a href="tt" class="footer_redes_sociais">TT</a>
  </div>
  -->
    <div class="lado_direito">
      <h3 class="titulo_lado_d">Desenvolvedor</h3>
      <p class="desc_lado_d">DEV & CEO | Luar Rekcah</p>
    </div>
    <div class="center">
      <p class="desenvolvido_por">
        <a href="https://www.instagram.com/_luar.rekcah/">
          <img
            id="ig"
            alt="Instagram @_luar.rekcah"
            src="https://cdn.discordapp.com/attachments/747520193688764506/786630233456640050/ig.png"
          />
        </a>
        <a href="https://twitter.com/_luarrekcah">
          <img
            id="tt"
            alt="Twitter @_luarrekcah"
            src="https://curiosamente.diariodepernambuco.com.br/wp-content/uploads/2016/01/TwitterLogo.png"
          />
        </a>
      </p>
      <!--<img id="ig" class="redes_img" src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png"><a href="#"></a></img>
      -->
    </div>
  </footer>
</html>
