<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Luarzito</title>
    <!--CONFIGs INI-->
    <link
      rel="icon"
      href="https://cdn.discordapp.com/icons/742068003583295619/69f5a6123e68838d4e4d965aa293fb9b.png?size=1024"
      type="image/gif"
      sizes="16x16"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="UTF-8"
    />
    <!--CONFIGs FIM-->
    <!--CSS INI-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link href="/css/m/style.css" rel="stylesheet" />
    <!--CSS FIM-->
    <!--SCRIPT INI-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="script" href="script.js" />
    <!--SCRIPT FIM-->
  </head>

  <body>
    <!--NAV BAR INI-->

    <div class="nav_bar">
      <nav class="nav_op">
        <a href="#sobre" class="botao_nav">Sobre</a>
        <a href="/views/comandos.html" class="botao_nav">Comandos</a>
        <div class="line align-self-center"></div>
        <a href="/views/team.html" class="botao_nav">Team</a>
        <a href="/views/emojis.html" class="botao_nav">Emojis</a>
        <a href="#regras" class="botao_nav">Regras</a>
        <a href="#servidor_dc" class="botao_nav">Entrar</a>
      </nav>
      <div
        class="header d-flex flex-column justify-content-between align-items-center"
      >
        <div
          class="server-info d-flex align-items-center flex-column text-center"
        >
          <div class="nome_bot">
            <b class="bot_name">Luarzito</b>
            <p class="lite_desc">Um bot para o Discord!</p>
          </div>
          <div class="botao_add">
            <a
              id="me_add"
              class="links-suppressor join-btn btn-pill white"
              href="https://discord.com/oauth2/authorize?client_id=743841329334845530&scope=bot&permissions=1879370870"
              >Me adicione!</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--NAV BAR FIM-->
    <div class="corpo">
      <!--SOBRE DESC INI-->
      <div class="teste_jquery">
        <script>
          $.getJSON(
            "https://discord.com/api/guilds/742068003583295619/widget.json",
            function(server) {
              /*var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  */
              console.log(server);
              /*var online = server.members[2].status;
         if(online === "online") return;
         */
            }
          );
        </script>
      </div>
      <section id="sobre">
        <p>
          Mobile Website
        </p>
        <h2>Sobre🤔</h2>
        <p>
          <b>Luarzito</b>&nbsp;é um bot para o discord, com intenção de levar
          diversão com seus comandos de mini-game, um pouco de moderação,
          interações diversas e um pouco de RP!<br /><br /><b
            >Este é um bot em beta, com mais de 70 comandos! </b
          ><br />
        </p>
      </section>
      <!--SOBRE DESC FIM-->
      <!--LINHA DIVISÓRIA INI-->
      <div class="center">
        <a href="https://top.gg/bot/743841329334845530">
    <img src="https://top.gg/api/widget/743841329334845530.svg" alt="Luarzito" />
</a>
      </div>
      <div class="center">
        <div class="linha_divisoria"></div>
      </div>
      <!--LINHA DIVISÓRIA FIM-->
      <!--SERVIDOR DC INI-->
      <section id="servidor_dc">
        <h2>⚠️Regras do Luarzito server!⚠️</h2>
        <p>
          <b>Luarzito server</b>&nbsp;é um servidor para todos que buscam
          suporte, dar sugestões ou apenas fazer amizade :) <br />
        </p>
        <section class="discord-widget">
          <iframe
            src="https://discordapp.com/widget?id=742068003583295619&theme=dark"
            width="350"
            height="500"
            allowtransparency="true"
            frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
          ></iframe>
        </section>
        <!--REGRAS DESC INI-->
        <section id="regras">
          <p>
            <b>Aqui algumas regras antes de entrar:</b>
          </p>
          <ul>
            <li>
              Sem nenhum tipo de violência verbal, xenofobia, racismo, entre
              outros.
            </li>
            <li>
              Ao encontrar um erro no bot entre em contato com o desenvolvedor
              imediatamente!
            </li>
            <li>Mantenha a ordem no servidor.</li>
            <li>Sem conteúdo ilícito em chat não autorizado</li>
            <li>
              Proibido ir na DM do desenvolvedor ou floodar com o comando
              lz.suggest.
            </li>
            <li>Sem spam ou flood</li>
            <li>Divirta-se! :)</li>
          </ul>
        </section>
        <!--REGRAS DESC FIM-->
        <div class="center">
          <a id="entrar_sv" href="https://discord.gg/RDaxUrv"
            >Entrar!</a
          >
        </div>
      </section>
      <!--SERVIDOR DC FIM-->
    </div>
  </body>
  <footer>
    <!--
  <div class="lado_esquerdo">
    <h3 class="titulo_lado_e">Redes sociais</h3>
    <a href="insta" class="footer_redes_sociais">IG</a>
    <p></p>
    <a href="tt" class="footer_redes_sociais">TT</a>
  </div>
  -->
    <div class="lado_direito">
      <h3 class="titulo_lado_d">Desenvolvedor</h3>
      <p class="desc_lado_d">DEV & CEO | Luar Rekcah</p>
    </div>
    <div class="center">
      <p class="desenvolvido_por">
        <a href="https://www.instagram.com/_luar.rekcah/">
          <img
            id="ig"
            alt="Instagram @_luar.rekcah"
            src="https://cdn.discordapp.com/attachments/747520193688764506/786630233456640050/ig.png"
          />
        </a>
        <a href="https://twitter.com/_luarrekcah">
          <img
            id="tt"
            alt="Twitter @_luarrekcah"
            src="https://curiosamente.diariodepernambuco.com.br/wp-content/uploads/2016/01/TwitterLogo.png"
          />
        </a>
      </p>
      <!--<img id="ig" class="redes_img" src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png"><a href="#"></a></img>
      -->
    </div>
  </footer>
</html>
